/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contactoInput {
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid #fff;
    outline: none;
    margin-bottom: 3rem;
  }

  ::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.form-label {
  color: var(--color-wood_5);
}

#mensaje {
  min-height: 15rem;
}

.contactButton {
  display: block;
  text-align: center;
  background-color: var(--colorBotones);
  color: var(--color-wood_5);
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 5rem;
  margin: 1rem auto 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-color: 3px solid var(--color-wood_5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
