.titulo {
  text-align: center;
  font-size: var(--text-big-title);
  color: var(--color-wood_5);
  padding: 1.5rem 0 3rem 0;
}

.flex-nosotros {
  display: flex;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .flex-nosotros {
    display: flex;
    flex-direction: column;
  }
}
