@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
.titulo {
  text-align: center;
  font-size: var(--text-big-title);
  color: var(--color-wood_5);
  padding: 1.5rem 0 3rem 0;
}

.flex-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .flex-nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contactoInput input,
.contactoInput textarea {
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  outline: none;
  margin-bottom: 3rem;
}

.contactoInput ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput ::placeholder {
  color: #fff;
  opacity: 1;
}

.form-label {
  color: var(--color-wood_5);
}

#mensaje {
  min-height: 15rem;
}

.contactButton {
  display: block;
  text-align: center;
  background-color: var(--colorBotones);
  color: var(--color-wood_5);
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 5rem;
  margin: 1rem auto 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-color: 3px solid var(--color-wood_5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.contactButton:hover {
  font-weight: 800;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.bodegas_inner {
  position: relative;
}

.bodegas_wrap p {
  color: var(--color-wood_5);
  font-size: var(--text-regular);
  padding: 1rem;
}

.bodegas_inner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
}

.bodegas_cuyanas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.bodegas_topLine {
  border-top: 3px solid var(--color-wood_5);
  padding-block: 2rem;
}

.catalogo p {
  color: var(--color-wood_5);
  padding-block: 1rem;
}

.btn-catalogo {
  color: var(--color-wood_5);
  border: none;
}

.btn-catalogo:hover {
  font-weight: 800;
  background-color: var(--color-wood_3);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* colors */
  --color-wood_1: #f2caa6;
  --color-wood_2: #af7352;
  --color-wood_3: #fcf4e1;
  --color-wood_4: #aa9483;
  --color-wood_5: #695336;
  /* font-sizes */
  --text-nav: 1.625rem;
  --text-big-title: 2.5rem;
  --text-regular: 1.5rem;
  --text-buttons: 1.875rem;
  --text-medium: 1.625rem;
  --text-mediaquery: 1.2rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: var(--text-regular);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section {
  padding: 4rem 0;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.bg-wood3 {
  background-color: var(--color-wood_3);
}

.bg-wood4 {
  background-color: var(--color-wood_4);
}

button {
  background-color: inherit;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: var(--text-buttons);
}

.img-logo {
  margin: auto;
  padding-top: 1rem;
}

.navbar-nav {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid var(--color-wood_5);
  padding: 0.5rem;
}

.navbar-border-bottom {
  border-bottom: 2px solid var(--color-wood_5);
}

.navbar-collapse {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: var(--text-nav);
  font-weight: 300;
  color: var(--color-wood_5) !important;
  letter-spacing: 4px;
  padding: 0.5rem 2.5rem;
}

.navbar-light .navbar-nav .active {
  -webkit-text-decoration: underline var(--color-wood_5) !important;
          text-decoration: underline var(--color-wood_5) !important;
  font-weight: 600;
}

.nav-link:hover {
  -webkit-text-decoration: underline var(--color-wood_5) !important;
          text-decoration: underline var(--color-wood_5) !important;
  font-weight: 700 !important;
}

.navbar > .container-fluid {
  width: 100%;
  margin-right: 0;
  float: right;
}

.btn_home {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: #fff;
  color: var(--color-wood_5);
  border: none;
  font-size: clamp(1rem, 5vw, 1.875rem);
  -webkit-transition: font-weight 2s;
  transition: font-weight 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.btn_home:hover {
  font-weight: 800;
  background-color: var(--color-wood_3);
}

.side-text {
  width: 100%;
}

.img-side {
  width: 100%;
}

.imagen_1 {
  position: relative;
  z-index: 1;
}

.imagen_1::before {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-wood_5);
  content: "";
  z-index: -1;
}

.imagen_2 {
  position: relative;
  z-index: 1;
}

.imagen_2::before {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-wood_5);
  content: "";
  z-index: -1;
}

.boton_productos {
  margin-inline: auto;
  display: block;
  margin-top: 2rem;
  color: var(--color-wood_5);
  border: 3px solid var(--color-wood_5);
}

.boton_productos:hover {
  font-weight: 800;
  -webkit-transition: 0.8s linear 0.2s;
  transition: 0.8s linear 0.2s;
}

.boton_conocenos {
  margin-inline: auto;
  display: block;
  margin-top: 2rem;
  color: var(--color-wood_5);
  border: 3px solid var(--color-wood_5);
}

.boton_conocenos:hover {
  font-weight: 800;
  -webkit-transition: 0.8s linear 0.2s;
  transition: 0.8s linear 0.2s;
}

footer {
  padding: 2rem 2rem 0 2rem;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.footer_inner h3 {
  color: #fff;
  font-size: clamp(30px, 4vh, var(--text-medium));
}

.h3_footer_left {
  text-align: center;
  padding: 1rem 0;
}

.h3_footer_rigth {
  padding: 1rem 0;
}

.direccion {
  color: white;
  font-size: var(--text-regular);
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}

.footer_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

i {
  color: #fff;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  vertical-align: middle;
  display: inline-block;
}

.icono-texto {
  margin: 0 auto;
}

@media screen and (max-width: 570px) {
  body {
    font-size: var(--text-mediaquery);
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-img-2 .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .img-side {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .direccion {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */

.valido input{
  border-color: greenyellow;
}

.invalido input{
  border-color: rgb(224, 73, 73);
}